[submodule "src/core/airplay"]
	path = lib/airplay
	url = https://github.com/uncor3/airplay
[submodule "src/lib/ipatool-go"]
	path = lib/ipatool-go
	url = https://github.com/uncor3/libipatool-go.git
[submodule "lib/airplay"]
	path = lib/airplay
	url = https://github.com/uncor3/airplay
[submodule "lib/ipatool-go"]
	path = lib/ipatool-go
	url = https://github.com/uncor3/libipatool-go.git
[submodule "lib/zupdater"]
	path = lib/zupdater
	url = https://github.com/uncor3/ZUpdater
